.listato{
    display:grid;
    grid-template-columns: 50% 50% ;
    background-color: #F5F5F5; 
    // grid-column-gap:1rem;
    // grid-row-gap:1rem;
    overflow: hidden;
    
    
    .image{
        display:flex; 
        // border-right:0.1rem solid #F5F5F5;
    }
    img{
        width:100%;
        // position:relative;
    }
    // button .new{
    //     position:absolute;
    //     top:px;
    //     left:8px;
    //     // transform: translateY();
    // }
    .name{
        @include font($lg-size, 14px,16px);
    }
    .product-description{
        @include font($sm-size,14px,120%);
    }
    .actual-price{
        @include font($xl-size,14px,200%);
        letter-spacing: -0.03em;
        margin-right:2%;
    }
    .original-price{
        @include font ($sm-size,10px,12px);
        text-decoration: line-through;
    }

    .prices{
        display:flex;
        background-color: $secondary-color ;
    }

    button{
        border:none;
        background: transparent;
        
    }
}